@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
/*	font-family: 'Muli', sans-serif;*/
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

#container{
	display: flex;
	width: 90vw;
}

#container .card {
	height: 80vh;
	margin: 10px;
	width: 5vw;
	border-radius: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	transition: flex 0.7s ease-in;
	color: #FFFFFF;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card h2 {	
	font-size: 24px;
	padding: 0 0 10px 50px;
  	margin: 0;
  	opacity: 0;
}

.active {
	flex: 5;
}

.active h2 {
	opacity: 1;
  	transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .card:nth-of-type(4),
  .card:nth-of-type(5) {
    display: none;
  }
}